@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto');

:root {
    --title-type: 'Inconsolata', monospace;
    /* --title-type: 'Andale Mono', monospace; */
    --body-type: 'Roboto', sans-serif;
}

body {
    font-family: var(--body-type);

    width: 100%;
    /* margin: auto; */
}

nav {
    width: 9%;
    max-width: 70px;
    height: 100vh;
    /* display: inline-block; */
    /* float: left; */
    /* background-color: green; */
    text-align: center;

    border-right: 1px solid gray;
    position: fixed;
}

h1, h2, h3 {
    font-family: var(--title-type);
}

.content {
    max-width: 90%;
    display: inline-block;
    padding-left: 75px;
    /* background-color: beige; */
    margin: auto;
}



#lowHolder, #midHolder, #highHolder {
    text-align: center;
    margin: auto;
}

#midHolder {
    margin: auto;
    text-align: center;
}

#idChild {

    padding: 3px 5px;
    margin: auto;
    margin: 10px;
    margin-bottom: 10px;
    /* padding-left: 10px; */

    display: inline-block;

    font-family: var(--title-type);
    text-align: center;
}

.lowLink {
    border: 1px black solid;
    border-radius: 5px;
    font-size: 32px;
    color: black;
    background-color: yellow;
}

.midLink {
    border: 2px black solid;
    border-radius: 10px;
    font-size: 48px;
    color: white;
    background-color: orange;
}

.highLink {
    border: 2px black solid;
    border-radius: 10px;
    font-size: 64px;
    color: white;
    background-color: red;
}

a {
    color: inherit;
    text-decoration: none;
}

/* .scene {
    display: inline-block;
} */
.lowSceneHolder {
    width: 95%;
    padding-bottom: 50px;
}

.lowSceneHolder h3 {
    margin: auto;
}

.lowSceneHolder ul {
    /* text-align: center; */
    padding-left: 0;
    padding-right: 0;

}

.scene img {
    display: block;
    max-width: 150px;
    height: auto;
    margin: auto;
}

.scene {
    margin: 4px;
    display: inline-block;
    text-align: left;
    border: 1px black solid;
    border-radius: 5px;

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
    max-width: 175px;
    padding: 5px;
    /* align: top; */
    height: auto;
    /* float: left; */
    vertical-align: top;
}
