@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Inconsolata|Roboto');

:root {
    --title-type: 'Inconsolata', monospace;
    /* --title-type: 'Fira Mono', monospace; */
    /* --title-type: 'Andale Mono', monospace; */
    --body-type: 'Roboto', sans-serif;

    /* color */
    --low-color: yellow;
    --mid-color: orange;
    --high-color: red;
}

body {
    font-family: var(--body-type);

    width: 100%;
    /* margin: auto; */
}

nav {
    font-family: var(--title-type);
    width: 10%;/*9%*/
    max-width: 90px;/*70px;*/
    height: 100vh;
    /* display: inline-block; */
    /* float: left; */
    /* background-color: green; */
    text-align: center;

    /* border-right: 1px solid gray; */
    position: fixed;
}

nav h1 {
    text-align: right;
}

.navLow {
    background-color: var(--low-color);
    color: black;
}

.navMid {
    background-color: var(--mid-color);
    color: white;
}

.navHigh {
    background-color: var(--high-color);
    color: white;
}

h1, h2, h3 {
    font-family: var(--title-type);
}

.content {
    max-width: 90%;
    display: inline-block;
    padding-left: 105px;/*75px;*/
    /* background-color: beige; */
    margin: auto;
}



#lowHolder, #midHolder, #highHolder {
    text-align: center;
    margin: auto;
}

#midHolder {
    margin: auto;
    text-align: center;
}

#idChild {

    padding: 3px 5px;
    margin: auto;
    margin: 10px;
    margin-bottom: 10px;
    /* padding-left: 10px; */

    display: inline-block;

    font-family: var(--title-type);
    text-align: center;
}

.lowLink {
    border: 1px black solid;
    border-radius: 5px;
    font-size: 32px;
    color: black;
    background-color: var(--low-color);
}

.midLink {
    border: 2px black solid;
    border-radius: 10px;
    font-size: 48px;
    color: white;
    background-color: var(--mid-color);
}

.highLink {
    border: 2px black solid;
    border-radius: 10px;
    font-size: 64px;
    color: white;
    background-color: var(--high-color);
}

a {
    color: inherit;
    text-decoration: none;
}

/* .scene {
    display: inline-block;
} */
.lowSceneHolder {
    width: 95%;
    padding-bottom: 50px;
}

.lowSceneHolder h3 {
    margin: auto;
}

.lowSceneHolder ul {
    /* text-align: center; */
    padding-left: 0;
    padding-right: 0;

}

.scene img {
    display: block;
    max-width: 220px;
    height: auto;
    margin: auto;
}

.scene {
    margin: 4px;
    display: inline-block;
    text-align: left;
    border: 1px black solid;
    border-radius: 5px;

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
    width: 250px;
    padding: 5px;
    /* align: top; */
    height: auto;
    /* float: left; */
    vertical-align: top;
}

.midDescription {
    margin-right: 50px;
    margin-bottom: 50px;
}

.midScene {
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    display: block;
    /* width: 100%; */
    /* max-width: 100%; */
}

.midScene img {
    max-width: 500px;
    height: auto;
    margin: auto;
}

.midScene .midCaption {
    /* text-align: left; */
    font-style: italic;
    margin: auto;
}

.callback {

    padding: 3px 5px;
    margin: auto;
    margin: 10px;
    margin-bottom: 10px;
    /* padding-left: 10px; */

    display: inline-block;

    font-family: var(--title-type);
    text-align: center;
    border-radius: 5px;
    font-size: 32px;
    border: 1px black solid;
    vertical-align: middle;
}

.callbackLow {
    color: black;
    background-color: var(--low-color);
}

.callbackHigh {
    color: white;
    background-color: var(--high-color);
}

.colorBlock {
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    margin: 10px 0px;
}

/* Overwrite of prism.css */
.preWrap {
    max-width: 80vw;
    padding: 0;
    margin: auto;
}
